<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <title>Home</title>
    <!-- Compiled and minified CSS materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
</head>

<body>
    {% block content_base %}
    {% endblock %}
    <!-- Compiled and minified JavaScript materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
    body {
        font-size: 12px;
    }

    .size14 {
        font-size: 14px;
    }

    .size12 {
        font-size: 12px;
    }
    </style>
</body>

</html>