{% extends 'home/base.html' %}
{% block content_base %}
<div class="row ">
    <ul class="collection with-header">
        <li class="collection-header">
            <h5 class="">List of urls with changes</h5>
        </li>
        {% for notificationf in notification_forms %}
        <li class="collection-item">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{notificationf}}
                <button class="btn waves-effect waves-light" type="submit" name="action">Delete
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}