{% block start_monitor %}
<div class="row">
    <div class="col s3 center-align ">
        {% if request.session.monitor_started is True %}
        <a id="start_monitor" class="waves-effect waves-light btn-large size14" onclick="start_monitor()">Monitor started<i class="material-icons right">cloud</i> </a>
        {% else %}
        <a id="start_monitor" class="waves-effect waves-light btn-large size14" onclick="start_monitor()">Monitor STOPED<i class="material-icons right">cloud</i> </a>
        {% endif %}
    </div>
    <div class="col s3 center-align ">
        <a href="{% url 'notifications' %}" class=" waves-effect waves-light btn-large white-text size14" target="_blank">Notifications<span class="new badge  white black-text">
                {{ num_notifications }}
            </span></a>
    </div>
    <div class="col s3 center-align ">
        <button class="btn waves-effect waves-light btn-large size14" name="action" onclick="change_settings_visibility()">Settings
        </button>
    </div>
    <div class="col s3 center-align ">
        <button class="btn waves-effect waves-light btn-large size14" name="action" onclick="cleanDB()">Delete urls and notifications
        </button>
    </div>
</div>
<script type="text/javascript">
window.monitor_started = "{{ request.session.monitor_started }}";

function start_monitor() {
    if (window.monitor_started == true | window.monitor_started == "True") {
        fetch("{% url 'stop_monitor' %}")
            .then(function(response) {
                return response.json();
            })
            .then(function(myJson) {
                console.log(myJson);
                if (myJson.monitor_stoped == true) {
                    document.getElementById('start_monitor').innerHTML = 'MONITOR STOPED<i class="material-icons right">cloud</i>'
                    window.monitor_started = false;
                }
            });

    } else {

        fetch("{% url 'start_monitor' %}")
            .then(function(response) {
                return response.json();
            })
            .then(function(myJson) {
                console.log(myJson);
                if (myJson.monitor_started == true) {
                    document.getElementById('start_monitor').innerHTML = 'MONITOR STARTED<i class="material-icons right">cloud</i>';
                    window.monitor_started = true;
                }
            });
    }
}

function change_settings_visibility() {
    if (document.getElementById('settings_form').style.display == "none") {
        document.getElementById('settings_form').style.display = "initial";
    } else {
        document.getElementById('settings_form').style.display = "none";
    }
}

function cleanDB() {
    fetch("{% url 'clean_urls_notifications' %}")
        .then(function(response) {
            return response.json();
        })
        .then(function(myJson) {
            console.log(myJson);
            if (myJson.cleaned) {
                location.reload(true);
            }
        });
}
</script>
{% endblock %}