{% block upload_urls %}
<div class="row" id="settings_form">
    <div class="col s12 center-align ">
        <div class="card z-depth-0">
            <form method="post" enctype="multipart/form-data" class="size14">
                {% csrf_token %}
                {{form_internal_settings}}
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}