{% block upload_urls %}
<div class="row">
    <div class="col s12 center-align ">
        <div class="card z-depth-0">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        {{ form_file_with_urls.file }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>
{% if request.session.files %}
<div class="row ">
    <ul class="collection with-header">
        <li class="collection-header">
            <h4>List of Files</h4>
        </li>
        {% for file in request.session.files %}
        <li class="collection-item">{{file.0}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if request.session.urls %}
<div class="row ">
    <ul class="collection with-header">
        <li class="collection-header">
            <h4 class="size14">List of Urls</h4>
        </li>
        {% for url_ in request.session.urls %}
        <li class="collection-item">{{url_.0}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}